
TacoShop1/.vs/TacoShop1/v16/.suo
TacoShop1/.vs/TacoShop1/v16/.suo
TacoShop1/TacoShop1/bin/Debug/netcoreapp3.1/TacoShop.dll
TacoShop1/.vs/TacoShop1/v16/.suo
TacoShop1/.vs/TacoShop1/v16/.suo
TacoShop1/TacoShop1/bin/Debug/netcoreapp3.1/TacoShop.dll
TacoShop1/TacoShop1/bin/Debug/netcoreapp3.1/TacoShop.pdb
TacoShop1/TacoShop1/bin/Debug/netcoreapp3.1/TacoShop.dll
TacoShop1/.vs/TacoShop1/v16/.suo
TacoShop1/.vs/TacoShop1/DesignTimeBuild/.dtbcache.v2
TacoShop1/TacoShop1/obj/TacoShop.csproj.nuget.dgspec.json
*.cache
TacoShop1/.vs/TacoShop1/DesignTimeBuild/.dtbcache.v2
*.dll
*.json
*.pdb
*.resources
*.cache
*.editorconfig
*.dll
*.json
*.editorconfig
*.cache
*.json
*.txt
