
TacoShop1/.vs/TacoShop1/v16/.suo
TacoShop1/.vs/TacoShop1/v16/.suo
TacoShop1/TacoShop1/bin/Debug/netcoreapp3.1/TacoShop.dll
TacoShop1/.vs/TacoShop1/v16/.suo
TacoShop1/.vs/TacoShop1/v16/.suo
TacoShop1/TacoShop1/bin/Debug/netcoreapp3.1/TacoShop.dll
TacoShop1/TacoShop1/bin/Debug/netcoreapp3.1/TacoShop.pdb
TacoShop1/TacoShop1/bin/Debug/netcoreapp3.1/TacoShop.dll
TacoShop1/.vs/TacoShop1/v16/.suo
TacoShop1/.vs/TacoShop1/DesignTimeBuild/.dtbcache.v2
TacoShop1/TacoShop1/obj/TacoShop.csproj.nuget.dgspec.json
*.cache
TacoShop1/.vs/TacoShop1/DesignTimeBuild/.dtbcache.v2
*.dll
*.json
*.pdb
*.resources
*.cache
*.editorconfig
*.dll
*.json
*.editorconfig
*.cache
*.json
*.txt
*.v2
TacoShop1/.vs/TacoShop1/v16/.suo
*.dll
*.exe
*.cache
*.txt
*.cache
TacoShop1/TacoShop1/obj/Debug/netcoreapp3.1/TacoShop.csproj.GenerateResource.cache
TacoShop1/TacoShop1/obj/Debug/netcoreapp3.1/TacoShop.dll
TacoShop1/TacoShop1/obj/Debug/netcoreapp3.1/TacoShop.GeneratedMSBuildEditorConfig.editorconfig
TacoShop1/TacoShop1/obj/Debug/netcoreapp3.1/TacoShop.genruntimeconfig.cache
TacoShop1/TacoShop1/obj/Debug/netcoreapp3.1/TacoShop.pdb
TacoShop1/TacoShop1/obj/project.assets.json
TacoShop1/TacoShop1/obj/project.nuget.cache
TacoShop1/TacoShop1/obj/TacoShop.csproj.nuget.dgspec.json
